
:root{
  --color-background: #000;
  --color-text-primary: #fff;
  --color-button-primary: #db0001;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}

body{
  background: var(--color-background);
  color: var(--color-text-primary);
  font-size: 1.5rem;
}


/* ------------------- Banner----------------- */

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/banner.jpeg);
  background-size: cover;
  background-position: center;
  padding: 1rem 8%;
  position: relative;

}

/* --------------------------Navigation Bar--------------------------- */
.navigation-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo{
  width: 15rem;
  cursor: pointer;
}

.signin-button{
  background: var(--color-button-primary);
  border-radius: 0.5rem;
  border: 0;
  color: var(--color-text-primary);
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 1rem;
  outline: 0;
  padding: 0.8rem 2rem;
  transition: background 0.3s;
}

.language-button{
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--color-text-primary);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-text-primary);
}
.signin-button:hover{
  background: #a20202;

}
.fa-globe{
  margin-right: 0.5rem;
}

.down-arrow{
  width: 1rem;
  margin-left: 1rem;
}

/* -----------------Header Content--------------- */

.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 10rem;
}
.header-title{
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 600;
  margin: 0;
}
.header-title-2{
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 1.5rem;

}

.email-signup{
  background:rgba(0,0,0,0.5);
  display: inline-flex;
  margin-top: 3rem;
  border-radius: 0.3rem;
  padding: 1.6rem 1rem;
  width: 50%;
  border: 1px solid #ccc;

 

}

.header-input-box{
  flex: 1;
  border:0;
  outline: 0;
  margin-left: 2rem;
  background: transparent;
  color: var(--color-text-primary);
}
.header-input-box::placeholder{
  color: var(--color-text-primary);

}

.signup-button{
  background: var(--color-button-primary);
  color: var(--color-text-primary);
  font-size: 1.6rem;
  border-radius: 0.3rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 1.6rem 3rem;
  transition: background 0.3s;
}
.signup-button:hover{
  background: #a20202;

}


/* -----------------Feature content------------------- */
.block-container{
  /* padding: 5rem 12%; */
  font-size: 2.2rem;
}

.features{
  display: flex;
  padding: 10rem 12%;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

}

.features-content,
.features-image{
  flex-basis: 50%;
  margin-bottom: 2rem;
}
.features-image img{
  display: block;
  width: 100%;
  margin: auto;
}

.features-heading{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.fearures-border{
  width:100% ;
  height: 1rem;
  border: 0;
  background: #313030;
  
}
@media screen and (min-width: 720px){
  .features:nth-of-type(even) .features-content{
    order: 2;
  }
}

/* -----------------Frequently Asked Questions------------ */
.faq{
  padding: 1rem 12%;
  text-align: center;
  font-size: 1.8rem;
}
.faq-heading{
  font-size: 4rem;
  margin-top: 5rem;
}
.accordion{
  margin: 6rem auto;
  width: 100%;
  max-width: 75rem;
}
.accordion li{
  padding: 0.5rem;
  list-style: none;
  width: 100%;
}

.accordion li label{
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  background: #303030;
  margin-bottom: 0.2rem;
  position: relative;
  cursor: pointer;
}
label::after{
  content: '+';
  position: absolute;
  right: 2rem;
  font-size: 3.4rem;
  transition: transform 0.5s;
}
input[type='radio']{
  display: none;
}

.accordion .content{
  text-align: left;
  padding:0 2rem;
  background: #303030;
  line-height: 1.5;
  max-height: 0;
  overflow: hidden;
  transition:max-height 0.5s, padding 0.5s ;
}
.accordion input[type='radio']:checked +label + .content{
  max-height: 600px;
  padding: 3rem 2rem;

}
.accordion input[type='radio']:checked +label::after{
  transform: rotate(135deg);
}

.faq .email-signup{
  max-width: 50rem;
  font-size: 1.5rem;
  margin: 1.5rem 0 4rem;
}


/* ---------------Footer----------- */
.footer{
  padding: 5rem 25% 5rem 12%;
  color: var(--color-text-primary);
}
.contact{
  text-decoration: underline;
  margin-bottom: 4rem;
  
}

.footer-content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links a{
  display:block ;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 1rem 0;
}
.footer .language-button{
  margin-top: 2rem;
}

.copyright{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  margin-top: 2rem;
}


/* ---------------Media Queries for smaller screen------------- */

@media screen and (max-width:760px) {
  .logo{
    width: 10rem;
  }
  .navigation-button{
    padding: 0.5rem 1rem;
  }
  .language-button{
    padding: 0.4rem 0.8rem;
  }
  .header-content{
    position: unset;
    transform: none;
    padding-top: 10rem;
  
  }
  .header-title{
    font-size: 3rem;
    line-height: 5rem;
  }
  .email-signup,
  .signup-button{
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
  }
  .header-input-box{
    margin-left: 0;
  }
  .features-content,
  .features-image{
    flex-basis: 100%;
  }
  .features-heading{
    font-size: 3rem;
  }
  .features-description{
    font-size: 1.6rem;
  }
  .features{
    padding: 3rem 12%;
  }
  .fearures-border{
    height: 0.5rem;
  }
  .faq{
    padding: 3rem 8%;
  }

  .faq-heading{
    font-size: 3rem;
  }
  .accordion li label{
    font-size: 1.6rem;
    padding: 1rem;
  }
  label::after{
    font-size: 2.2rem;
  }
  .content{
    font-size: 1.5rem;
  }
  .accordion-footer{
    font-size: 1.4rem;
  }
  
}


